{% extends 'base.html.twig' %}

{% block title %}Relays{% endblock %}

{% block body %}
    <h1>Relays</h1>
    <p>A relay is a racing competition consisting of multiple legs, involving one or more distinct disciplines</p>
    <a href="{{ path('app_relay_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Disciplines</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relay in relays %}
            <tr>
                <td>{{ relay.name }}</td>
            {% for discipline in relay.disciplines %}
                <td>{{ discipline.name }} </td>
            {% endfor %}
                <td>
                    <a href="{{ path('app_relay_show', {'id': relay.id}) }}">show</a>
                    <a href="{{ path('app_relay_edit', {'id': relay.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
