{% extends 'base.html.twig' %}

{% block title %}Result{% endblock %}

{% block body %}
    <h1>Result</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ result.date ? result.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Outcome</th>
                <td>{{ result.outcome }}</td>
            </tr>
            <tr>
                <th>Discipline</th>
                <td>{{ result.discipline.name }}</td>
            </tr>
            <tr>
                <th>Athlete</th>
                <td>{{ result.athlete.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_result_index') }}">back to list</a>

    <a href="{{ path('app_result_edit', {'id': result.id}) }}">edit</a>

    {{ include('result/_delete_form.html.twig') }}
{% endblock %}
